
<div class="container">
  <p-card>
    <ng-template pTemplate="header">
      <h3>CONTROL DE INGRESO</h3>
    </ng-template>   
    <form (ngSubmit)="auth()">
      <span class="p-float-label">
        <input  [(ngModel)]="dni" type="text" autocomplete="off" pInputText name="dni">   
        <label for="float-input">Ingrese un número de DNI</label>        
      </span>
      <br>
      <p-button type="submit" label="Buscar"></p-button>
    </form>
  </p-card>  
</div>
<p-toast position="bottom-center"></p-toast>

