body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}

.inputCarga {
    width: 100%;
    padding: 2%;
}




p-card {
    width: 35%;
    text-align: center;
    -webkit-box-shadow: 5px 11px 50px -13px rgba(0,0,0,0.74);
    -moz-box-shadow: 5px 11px 50px -13px rgba(0,0,0,0.74);
    box-shadow: 5px 11px 50px -13px rgba(0,0,0,0.74);
}

p-card-content {
    height: 100%;
}



input {
    text-align: center;
    width: 100%;
}

